<div class="feature">
  <h1>Feature Brands That Trust Us</h1>
  <div class="scroller">
    <div class="scroller-track">
      <div class="slide-set">
        <img src="../../assets/images/featured-01.webp" alt="merocodingclass" />
        <img src="../../assets/images/featured-02.webp" alt="tejilo" />
        <img
          src="../../assets/images/featured-03.webp"
          alt="brightacademy"
        />
<!--        <img src="../../assets/images/featured-04.webp" alt="astrainings" />-->
        <img src="../../assets/images/featured-05.webp" alt="hamroacademy" />
<!--        <img src="../../assets/images/featured-06.webp" alt="lexnepal" />-->
<!--        <img src="../../assets/images/featured-07.webp" alt="teamsandesh" />-->
<!--        <img src="../../assets/images/featured-08.webp" alt="saraldiscount" />-->


      </div>
      <!-- Duplicate for seamless loop -->
      <div class="slide-set">
        <img src="../../assets/images/featured-01.webp" alt="merocodingclass" />
        <img src="../../assets/images/featured-02.webp" alt="tejilo" />
        <img
          src="../../assets/images/featured-03.webp"
          alt="brightacademy"
        />
        <!--        <img src="../../assets/images/featured-04.webp" alt="astrainings" />-->
        <img src="../../assets/images/featured-05.webp" alt="hamroacademy" />
        <!--        <img src="../../assets/images/featured-06.webp" alt="lexnepal" />-->
        <!--        <img src="../../assets/images/featured-07.webp" alt="teamsandesh" />-->
        <!--        <img src="../../assets/images/featured-08.webp" alt="saraldiscount" />-->


      </div>

    </div>
  </div>
</div>
