<div class="feature">
  <h1>Feature Brands That Trust Us</h1>
  <div class="scroller">
    <div class="scroller-track">
      <div class="slide-set">
        <img src="../../assets/images/image 6.png" alt="hamroacedemy" />
        <img src="../../assets/images/image (2).png" alt="merocoding" />
        <img
          src="../../assets/images/Screenshot 2025-04-15 113830 1.png"
          alt="bright"
        />
        <img src="../../assets/images/image 7.png" alt="tejilo" />
      </div>
      <!-- Duplicate for seamless loop -->
      <div class="slide-set">
        <img src="../../assets/images/image 6.png" alt="hamroacedemy" />
        <img src="../../assets/images/image (2).png" alt="merocoding" />
        <img
          src="../../assets/images/Screenshot 2025-04-15 113830 1.png"
          alt="bright"
        />
        <img src="../../assets/images/image 7.png" alt="tejilo" />
      </div>
    </div>
  </div>
</div>
