<div class="works">
  <div class="head">
    <div class="left">
      <h1>Our Recent Works</h1>
      <p>
        Take a look at some of the projects we've proudly brought to life. From
        innovative mobile apps and custom software solutions to sleek,
        responsive websites.
      </p>
    </div>
    <div class="right">
      <button (click)="scroll('left')" class="btnl">
        <i class="fa-solid fa-angle-left"></i>
      </button>
      <button (click)="scroll('right')" class="btnr">
        <i class="fa-solid fa-angle-right"></i>
      </button>
    </div>
  </div> <!-- Closed carousel-container -->
  <div class="content" #content>
    <div class="product1">
      <img src="../../assets/images/featured-06.webp" alt="lexnepal">
      <div class="data">
        <h1>Lex Nepal</h1>
        <p>Nepal's leading legal education platform for affordable, expert-led law courses.</p>
        <button class="comp-btn"><a href="https://lexnepal.edu.np">Learn More</a></button>
      </div>
    </div>
    <div class="product1">
      <img src="../../assets/images/featured-7.webp" alt="tsgurukul">
      <div class="data">
        <h1>Team Sandesh</h1>
        <p>Empowering Success in Loksewa Exams.</p>
        <button class="comp-btn"><a href="https://teamsandesh.com">Learn More</a></button>
      </div>
    </div>
    <div class="product1">
      <img src="../../assets/images/featured-03.webp" alt="Bright">
      <div class="data">
        <h1>Bright Academy</h1>
        <p>Bright Academy is a modern educational institution dedicated to empowering students</p>
        <button class="comp-btn"><a target="_blank" href="https://brightacademy.edu.np">Learn More</a></button>
      </div>
    </div>
    <div class="product1">
      <img src="../../assets/images/featured-04.webp" alt="astrainings">
      <div class="data">
        <h1>AS Trainings</h1>
        <p>Prepare for your exams by taking classes from the best faculties with your mobile phone or laptop.</p>
        <button class="comp-btn"><a target="_blank" href="https://astrainings.com">Learn More</a></button>
      </div>
    </div>
    <div class="product1">
      <img src="../../assets/images/featured-02.webp" alt="tejilo">
      <div class="data">
        <h1>Tejilo Mobile App</h1>
        <p>Prepare for your exams by taking classes from the best faculties with your mobile phone or laptop.</p>
        <button class="comp-btn"><a target="_blank" href="https://tejilo.com">Learn More</a></button>
      </div>
    </div>
    <div class="product1">
      <img src="../../assets/images/featured-09.webp" alt="gurukulca">
      <div class="data">
        <h1>Gurukul CA</h1>
        <p>Gurukul CA. Gurukul Commerce Academy is a leading CA Education institute </p>
        <button class="comp-btn"><a target="_blank" href="https://gurukulca.edu.np">Learn More</a></button>
      </div>
    </div>

  </div>
<!--  <div class="pagination">-->
<!--    <i class="fa-solid fa-minus active"></i>-->
<!--    <i class="fa-solid fa-minus"></i>-->
<!--    <i class="fa-solid fa-minus"></i>-->
<!--    <i class="fa-solid fa-minus"></i>-->
<!--  </div>-->
</div>

