<div class="works">
    <div class="head">
      <div class="left">
        <h1>Our Recent Works</h1>
        <p>
          Take a look at some of the projects we've proudly brought to life. From
          innovative mobile apps and custom software solutions to sleek,
          responsive websites.
        </p>
      </div>
        <div class="right">
          <button class="btnl">
            <i class="fa-solid fa-angle-left"></i>
          </button>
          <button class="btnr">
            <i class="fa-solid fa-angle-right"></i>
          </button>
        </div>
      </div> <!-- Closed carousel-container -->
      <div class="content">
        <div class="product1">
          <img src="../../assets/images/image (3).png" alt="tejilo">
          <div class="data">
            <h1>Tejilo Mobile App</h1>
            <p>Prepare for your exams by taking classes from the best faculties with your mobile phone or laptop.</p>
            <button class="btn">Learn More</button>
          </div>   
        </div>
        <div class="product1">
          <img src="../../assets/images/image (4).png" alt="Bright">
          <div class="data">
            <h1>Bright Academy</h1>
            <p>Bright Academy is a modern educational institution dedicated to empowering students</p>
            <button class="btn">Learn More</button>
          </div>   
        </div>
        <div class="product1">
          <img src="../../assets/images/image (5).png" alt="tejilo">
          <div class="data">
            <h1>AS Training</h1>
            <p>Prepare for your exams by taking classes from the best faculties with your mobile phone or laptop.</p>
            <button class="btn">Learn More</button>
          </div>   
          </div>
          <div class="product1">
            <img src="../../assets/images/image (3).png" alt="tejilo">
            <div class="data">
              <h1>Tejilo Mobile App</h1>
              <p>Prepare for your exams by taking classes from the best faculties with your mobile phone or laptop.</p>
              <button class="btn">Learn More</button>
            </div>   
          </div>
          <div class="product1">
            <img src="../../assets/images/image (4).png" alt="Bright">
            <div class="data">
              <h1>Bright Academy</h1>
              <p>Bright Academy is a modern educational institution dedicated to empowering students with knowledge, skills, and confidence. </p>
              <button class="btn">Learn More</button>
            </div>   
          </div>
          <div class="product1">
            <img src="../../assets/images/image (5).png" alt="tejilo">
            <div class="data">
              <h1>AS Training</h1>
              <p>Prepare for your exams by taking classes from the best faculties with your mobile phone or laptop.</p>
              <button class="btn">Learn More</button>
            </div>   
        </div>
      </div>
      <div class="pagination">
        <i class="fa-solid fa-minus active"></i>
        <i class="fa-solid fa-minus"></i>
        <i class="fa-solid fa-minus"></i>
        <i class="fa-solid fa-minus"></i>
    </div>
      </div>
  