<div class="hero-section">
    <div class="hero-content">
        <h1>
            Custom <br>
            <span class="highlight">{{ currentText }}</span>
            <br />
            Tailored to Your Vision
        </h1>
        <div class="features">
            <span>Beautiful</span>
            <span>•</span>
            <span>Seamless</span>
            <span>•</span>
            <span>Scalable</span>
        </div>
        <p>
            At <strong class="brand">Saral App</strong> we don't just build apps — we craft digital
            experiences designed to elevate your brand and solve real-world problems.
        </p>
      <div class="email-section">
        <div class="email-subscribe">
            <input type="email" placeholder="Enter your email">
            <button>Get Started</button>
        </div>
      </div>
    </div>
    <div class="hero-image">
<!--        <div class="badges">-->
<!--            <div class="badge ts">-->
<!--                <img src="../../assets/images/ts-logo.png" alt="">-->
<!--                <div class="description">-->
<!--                    <span class="tag elearning">eLearning</span>-->
<!--                    <p>#1 Trending on Stores</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="badge lex">-->
<!--                <img src="../../assets/images/lex-logo.png" alt="">-->

<!--                <div>-->
<!--                    <span class="tag elearning">eLearning</span>-->
<!--                    <p>Online Law Courses</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="badge saral">-->
<!--                <img src="../../assets/images/saral-logo.png" alt="">-->

<!--                <div>-->
<!--                    <span class="tag lifestyle">LifeStyle</span>-->
<!--                    <p>Saral Discount</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="badge users">-->
<!--                <span class="line"></span>-->
<!--              <div class="profile-section">-->
<!--                <div class="profile-group">-->
<!--                  <img class="profile1" src="../../assets/images/Ellipse%201.png" alt="">-->
<!--                  <img class="profile2" src="../../assets/images/Ellipse%202.png" alt="">-->
<!--                  <img class="profile3" src="../../assets/images/Ellipse%203.png" alt="">-->

<!--                </div>-->
<!--                <span class="number">50k+</span>-->
<!--                <p>Satisfied Users</p>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="badge topclass">-->
<!--                <span class="line"></span>-->
<!--              <div class="trophy-section" >-->
<!--                <span class="trophy">#1 🏆</span>-->
<!--                <p>We Create World-Class Apps That Lead the Future.</p>-->
<!--              </div>-->
<!--            </div>-->
<!--        </div>-->
        <div class="image-container">
            <img src="../../assets/images/hero.webp" alt="Founder Image">
        </div>
    </div>
</div>
