<div class="footer">
  <div class="left">
    <img src="../../assets/images/Logo_3.webp" alt="logo" />
    <div class="fill">
      <input type="text" name="" id="text" placeholder="Enter your email" />
      <button class="btn">Submit</button>
    </div>
  </div>
  <div class="right">
    <!-- company -->
    <div class="company">
      <h2>Company</h2>
      <nav>About</nav>
      <nav>Service</nav>
      <nav>FAQs</nav>
      <nav>Contact</nav>
    </div>
    <!-- Service -->
    <div class="service">
      <h2>RoadMap</h2>
      <nav>Team</nav>
      <nav>Saral Discount</nav>
      <nav>Pricing Plan</nav>
      <nav>Contact</nav>
    </div>
    <!-- contact -->
    <div class="Contact">
      <h2>Contact</h2>
      <div class="location">
        <i class="fa-solid fa-location-dot"></i>
        <p>NewBaneshwor, Kathmandu</p>
      </div>
      <div class="number">
        <i class="fa-solid fa-phone"></i>
        <p>+977 9851275536</p>
      </div>
      <div class="email">
        <i class="fa-solid fa-envelope"></i>
        <p>info@saralapps.com</p>
      </div>
      <div class="social">
        <a href="facebook.com"><i class="fa-brands fa-facebook"></i></a>
        <a href="Instagram.com"><i class="fa-brands fa-instagram"></i></a>
        <a href="Twitter.com"><i class="fa-brands fa-twitter"></i></a>
        <a href="LinkedIn.com"><i class="fa-brands fa-linkedin"></i></a>
      </div>
    </div>
  </div>
</div>
<p class="copywrite">© 2025 <a href="saralapps.com">Saral Apps Pvt Ltd </a>All rights reserved.</p>