<div class="platform">
    <div class="header">
    <h1>Mobile Development Platforms We Work With</h1>
    <p>We develop high-quality mobile apps across all major platforms — iOS, Android, and cross-platform solutions.</p>
    </div>
    <div class="content">
        <div class="ios">
            <img src="../../assets/images/image 10.png" alt="ios" srcset="">
            <h1>iOS App Development Services</h1>
        </div>
        <div class="ios">
            <img src="../../assets/images/image 11.png" alt="ios" srcset="">
            <h1>Android App Development Services</h1>
        </div>
        <div class="ios">
            <img src="../../assets/images/image 12.png" alt="ios" srcset="">
            <h1>Hybrid App Development Services</h1>
        </div>
        <div class="ios">
            <img src="../../assets/images/image 10.png" alt="ios" srcset="">
            <h1>Kotlin Development Service</h1>
        </div>
        <div class="ios">
            <img src="../../assets/images/image (1).png" alt="ios" srcset="">
            <h1>Swift Development Services</h1>
        </div>
    </div>
</div>
