<app-landing-header></app-landing-header>
<div class="main-container">
  <div class="service-hero">
    <div class="left-hero">
      <h3>Services / Mobile App Development</h3>
      <h1><span>Smart App</span> Development for Business Growth</h1>
      <p>
        In today’s digital landscape, having a powerful mobile app isn’t just a
        luxury — it’s a strategic advantage. At <span>Saral Apps</span>, we
        specialize in smart, scalable app development that fuels business growth
        and enhances customer engagement. Whether you’re a corporate enterprise
        aiming to digitize operations or a merchant looking to expand your
        reach, we build mobile solutions that are tailored to your specific
        needs.
        <br />
        Our process begins with a deep understanding of your goals, audience,
        and industry. From there, our team of expert designers and developers
        work collaboratively to deliver intuitive, high-performance applications
        across iOS, Android, and cross-platform environments.
      </p>
      <div class="btn">
        <button>Get Started</button>
        <div class="arow">
          <button><i class="fa-solid fa-arrow-right"></i></button
          ><span>Setup Meeting</span>
        </div>
      </div>
    </div>
    <div class="imgcontainer">
      <div class="left1">
        <img src="../../assets/images/service1.webp" alt="" />
        <img src="../../assets/images/service2.webp" alt="" class="active" />
      </div>
      <div class="right">
        <img src="../../assets/images/service3.webp" alt="" class="active" />
        <img src="../../assets/images/service4.webp" alt="" />
      </div>
    </div>
  </div>

  <!-- Our services -->
  <!-- <div class="services">
    <div class="head">
      <div class="left">
        <h3>Our Services</h3>
        <h1>Custom Mobile App Development</h1>
        <p>
          Transform your ideas into powerful, user-friendly mobile applications
          with our end-to-end app development services.
        </p>
      </div>
      <div class="right">
        <button class="comp-btn">View More</button>
      </div>
    </div>
    <div class="content">
      <div class="app-card">
        <img src="../../assets/images/app-02.webp" alt="app" />
        <div class="detail">
          <h3>App Development</h3>
          <p>
            We specialize in crafting high-quality mobile applications that
            blend seamless functionality ....
          </p>
        </div>
      </div>
      <div class="app-card">
        <img src="../../assets/images/app-01.webp" alt="app" />
        <div class="detail">
          <h3>Website Design</h3>
          <p>
            Our website design services focus on creating visually stunning,
            responsive, and user-friendly websites....
          </p>
        </div>
      </div>
      <div class="app-card">
        <img src="../../assets/images/app-03.webp" alt="app" />
        <div class="detail">
          <h3>Software Development</h3>
          <p>
            From discovery and architecture to development, testing, and
            deployment
          </p>
        </div>
      </div>
      <div class="app-card">
        <img src="../../assets/images/app-04.webp" alt="app" />
        <div class="detail">
          <h3>Website Hosting</h3>
          <p>
            We offer scalable hosting solutions tailored to your needs, whether
            you're launching a small business site...
          </p>
        </div>
      </div>
    </div>
  </div> -->
  <!-- our platform -->
  <div class="platform">
    <div class="header">
      <h1>Mobile Development Platforms We Work With</h1>
      <p>
        We develop high-quality mobile apps across all major platforms — iOS,
        Android, and cross-platform solutions.
      </p>
    </div>
    <div class="content">
      <div class="ios">
        <img src="../../assets/images/platform6.webp" alt="ios" srcset="" />
        <h1>iOS App Development Services</h1>
      </div>
      <div class="ios">
        <img src="../../assets/images/platform3.webp" alt="ios" srcset="" />
        <h1>Android App Development Services</h1>
      </div>
      <div class="ios">
        <img src="../../assets/images/platform4.webp" alt="ios" srcset="" />
        <h1>Hybrid App Development Services</h1>
      </div>
      <div class="ios">
        <img src="../../assets/images/platform2.webp" alt="ios" srcset="" />
        <h1>Kotlin Development Service</h1>
      </div>
      <div class="ios">
        <img src="../../assets/images/platform1.webp" alt="ios" srcset="" />
        <h1>Swift Development Services</h1>
      </div>
    </div>
  </div>
  <!-- Why choose us -->
  <div class="choose">
    <div class="left-head">
      <div class="desc">
        <h1>Why to Choose <span>SaralApps</span></h1>
        <p>
          Saral Apps Pvt Ltd is a technology solutions provider specializing in
          custom digital experiences, with a strong focus on developing
          eLearning platforms. Our expertise lies in creating interactive,
          scalable, and engaging learning solutions tailored to educators,
          businesses, and learners.
        </p>
      </div>
      <div class="option-wrapper">
        <!-- quality assurance -->
        <div class="option active">
          <div class="optl">
            <img src="../../assets/images/icon4.webp" alt="" />
          </div>
          <div class="optr">
            <h2>Quality Assurance meets Excellence</h2>
            <p>
              Quality assurance has always been a crucial aspect of developing
              any application. A company's quality assurance team is responsible
              for ensuring that the app's end-users can use it seamlessly.
            </p>
          </div>
        </div>
        <!-- Pace, with Quality -->
        <div class="option">
          <div class="optl">
            <img src="../../assets/images/icon3.webp" alt="" />
          </div>
          <div class="optr">
            <h2>Pace, with Quality</h2>
            <p>
              Fuelling quality along with speed is a sign of brilliance and is
              brilliant at developing quality. We are a professional mobile app
              development company with a well-developed sense of quality.
            </p>
          </div>
        </div>
        <!-- Robust -->
        <div class="option">
          <div class="optl">
            <img src="../../assets/images/icon2 (1).webp" alt="" />
          </div>
          <div class="optr">
            <h2>Robust Compatibility</h2>
            <p>
              We are on a mission to make sure our developed app is compatible
              with the widest range of devices and operating systems. This
              includes but is not limited to -iOS and Android, -iPhones and
              iPads, and web apps.
            </p>
          </div>
        </div>
        <!-- Seamless -->
        <div class="option">
          <div class="optl">
            <img src="../../assets/images/icon1.webp" alt="" />
          </div>
          <div class="optr">
            <h2>Seamless Integration</h2>
            <p>
              We are a future-oriented and emerging mobile app development
              company. We use the latest technologies and trends in our work,
              which makes us one of the most approaching digital solution
              providers.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="imagecard">
      <img src="../../assets/images/choose1.webp" alt="" />
      <img src="../../assets/images/choose2.webp" alt="" class="active" />
      <img src="../../assets/images/choose 3.webp" alt="" />
    </div>
  </div>
  <!-- WorkProcess -->
  <div class="work">
    <div class="head-process">
      <h1>Our Work Process</h1>
      <p>
        At <span>Saral Apps,</span>we believe building an app should feel easy
        and inspiring not overwhelming. Our proven process ensures clarity at
        every step, blending creativity, strategy, and technology to bring your
        vision to life.
      </p>
    </div>
    <!-- strategy -->
    <div class="timeline">
      <div class="timeline_right">
        <div class="icon">
          <i class="fas fa-search-plus"></i>
        </div>
        <div class="info">
          <h3>1</h3>
          <h2>Discovery & strategy</h2>
          <p>
            We start by deeply understanding your goals, challenges, and
            audience. Through workshops, research, and brainstorming sessions,
            we define a clear roadmap for your app's success.
          </p>
        </div>
      </div>
      <!-- design -->
      <div class="timeline_left">
        <div class="info_left">
          <h3>2</h3>
          <h2>UI/UX Design</h2>
          <p>
            Our design team crafts intuitive, user-centric interfaces that
            balance beauty with functionality. Every screen is created to
            deliver a seamless and delightful user experience across all
            devices.
          </p>
        </div>
        <div class="icon">
          <i class="fa-brands fa-figma"></i>
        </div>
      </div>
      <!-- development -->
      <div class="timeline_right">
        <div class="icon">
          <i class="fa-solid fa-code"></i>
        </div>
        <div class="info">
          <h3>3</h3>
          <h2>Development</h2>
          <p>
            Our developers turn designs into reality with clean, scalable code.
            Whether it's iOS, Android, or cross-platform, we use the latest
            technologies to ensure performance, security, and reliability.
          </p>
        </div>
      </div>
      <!-- Quality Assurance -->
      <div class="timeline_left">
        <div class="info_left">
          <h3>4</h3>
          <h2>Testing & Quality Assurance</h2>
          <p>
            Before launch, we rigorously test the app across multiple devices
            and scenarios. We focus on usability, speed, security, and bug-free
            performance to ensure a smooth user experience.
          </p>
        </div>
        <div class="icon">
          <i class="fas fa-medal"></i>
        </div>
      </div>
      <!-- Launch -->
      <div class="timeline_right">
        <div class="icon">
          <i class="fa-solid fa-rocket"></i>
        </div>
        <div class="info">
          <h3>5</h3>
          <h2>Launch & Deployment</h2>
          <p>
            We assist you through app store submissions, ensuring your app meets
            all platform requirements. Our team handles every technical detail,
            so your launch is hassle-free and successful.
          </p>
        </div>
      </div>
      <!-- Maintenance -->
      <div class="timeline_left">
        <div class="info_left">
          <h3>6</h3>
          <h2>Maintenance</h2>
          <p>
            Our journey doesn't end at launch. We offer continuous support,
            updates, and enhancements based on user feedback and evolving market
            needs, helping your app grow and thrive long-term.
          </p>
        </div>
        <div class="icon">
          <i class="fa-solid fa-chart-line"></i>
        </div>
      </div>
    </div>
  </div>
  <!-- FAQs -->
  <div class="faqs">
    <div class="right">
      <h2>FAQs</h2>
      <h1>Anything Question? We Got You</h1>
      <p>
        Whether it's big or small, your questions matter. We're here with clear
        answers and real support anytime you need us.
      </p>
    </div>
    <div class="left">
      <div class="dropdown" *ngFor="let faq of faqs; let i = index">
        <div class="qn1" (click)="toggleAnswer(i)">
          <p>{{ faq.question }}</p>
          <i
            class="fa-solid"
            [ngClass]="faq.isVisible ? 'fa-angle-up' : 'fa-angle-down'"
          ></i>
        </div>

        <div class="answer" [ngClass]="{ show: faq.isVisible }">
          <p>{{ faq.answer }}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- CTA -->
  <div class="cta">
    <div class="cta_left">
      <h1>Let’s Build Your App Together</h1>
      <p>
        Whether you're starting fresh or scaling up, we’re here to craft mobile
        solutions that work for your business.
      </p>
      <div class="fill">
        <input type="text" name="" id="text" placeholder="Enter your email" />
        <button class="submit_btn">Submit</button>
      </div>
    </div>
    <div class="cta_right">
      <img src="../../assets/images/cta1.webp" alt="" />
    </div>
  </div>
  <!-- contact -->
  <div class="contactform">
    <div class="formheader">
      <h1>Connect With Our Team</h1>
      <p>
        Our experienced team is ready to support you at every step. Connect now
        and let's create something great.
      </p>
    </div>
    <div class="connect">
      <form action="">
        <h1>Get In Touch</h1>
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" name="" id="" placeholder="Saral apps" />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" name="" id="" placeholder="Email" />
        </div>
        <div class="form-group">
          <label for="number">Number</label>
          <input type="text" name="" id="" placeholder="+977 9861344956" />
        </div>
        <div class="form-group">
          <label for="reference">Reference:</label>
          <input type="text" name="" id="" placeholder="Social Media" />
        </div>
        <div class="form-group">
          <label for="Subject">Subject</label>
          <input type="text" name="" id="" placeholder="Internship" />
        </div>
        <div class="form-group">
          <label for="type">Type:</label>
          <select id="type" name="type" required>
            <option value="">-- Select Type --</option>
            <option value="individual">Individual</option>
            <option value="company">Company</option>
            <option value="agency">Agency</option>
          </select>
        </div>
        <div class="message">
          <label for="message">Message</label>
          <textarea name="message" id="msg" placeholder="Message Here">
Message</textarea
          >
        </div>
        <div class="checkbox">
          <input type="checkbox" id="agree" name="agree" />
          <label for="agree"
            >By Submitting this form I agree the Privacy Policy and Terms and
            Conditions</label
          >
        </div>
        <button class="contact">Send Messages</button>
      </form>
      <div class="contact_detail">
        <h1>Contact Detail</h1>
        <p>
          Get in touch with us through phone, email, or our contact form. We're
          here to help!
        </p>
        <div class="icon">
          <div class="address">
            <div class="icon-circle">
              <i class="fa-solid fa-location-dot"></i>
            </div>
            <div class="address-text">
              <h2>Address</h2>
              <p>NewBaneshwor, Kathmandu</p>
            </div>
          </div>
          <div class="Phone">
            <div class="icon-circle">
              <i class="fa-solid fa-phone"></i>
            </div>
            <div class="phone-text">
              <h2>Number</h2>
              <p>+977 9851275536</p>
            </div>
          </div>
          <div class="email">
            <div class="icon-circle">
              <i class="fa-solid fa-envelope"></i>
            </div>
            <div class="phone-text">
              <h2>Email</h2>
              <p>info@saralapps.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-landing-footer></app-landing-footer>
