.services{
    display: flex;
    flex-direction: column;
    padding: 80px 40px;
}
.head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
}
.left{
    display: flex;
    flex-direction: column;
    width: 500px;
}
.left h3{
    font-size: var(--body-size);
    color: var(--SubHeading-color);
}
.left h1{
    font-size: var(--Heading-size);
    color: var(--Heading-color);
}
.left p{
    font-size: var(--body-size);
    color: var(--SubHeading-color);
}
.right{
    display: flex;
    justify-content: flex-end;
}
.right .btn{
    padding: 12px 16px;
    width: 118px;
    height: 54px;
    background-color: var(--Secondary-color);
    color: var(--nav-text-color);
}
.right .btn:hover{
    background-color: var(--Primary-color);
    color: var(--White-color);
}
/* content */
.content{
    display: flex;
    flex-direction: row;
    gap: 18px;
}
.app{
    display: flex;
    flex-direction: column;
    width: 270px;
    border-radius: 20px;
    height: 360px;
    background-color: var(--Card-active);
    transition: transform 0.3s ease;
}
.app:hover{
    background-color: var(--Card-hover);
    transform: scale(1.05);
}
.app img{
    width: 270px;
    height: 200px;
}
.detail{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px 10px;
    text-align: center;
}
.detail h3{
    font-size: var(--Subheading-size);
    color: var(--Heading-color);
}
.detail p{
    font-size: var(--body-size);
    color: var(--SubHeading-color);
}
@media (max-width: 575.98px){
    .services{
        display: flex;
        flex-direction: column;
        padding: 52px 20px;
        gap: 20px;
    }
    .head{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 10px;
    }
    .left{
        display: flex;
        flex-direction: column;
        width: 400px;
        text-align: center;
    }
    .left h3{
        font-size: var(--Mobile-small);
        color: var(--SubHeading-color);
    }
    .left h1{
        font-size: var(--Mobile-heading);
        color: var(--Heading-color);
    }
    .left p{
        font-size: var(--Mobile-subheading);
        color: var(--SubHeading-color);
    }
    .right .btn{
        padding: 10px 12px;
        width: 100px;
        height: 40px;
    }
    /* content */
    .content{
        display: wrap;
        flex-wrap:wrap ;
        justify-content: center;
        gap: 20px;
    }
    .app{
        display: flex;
        width: calc(49% - 10px);
        height: 270px;
        border-radius: 10px;
    }
    .app img{
        width: 195px;
        height: 150px;
    }
   
    .detail {
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 10px 10px;
}
    .detail h3{
        font-size: var(--Mobile-subheading);
        color: var(--Heading-color);
    }
    .detail p{
        font-size: var(--Mobile-small);
        color: var(--SubHeading-color);
    }
}