<div class="protfolio">
  <div class="head">
    <div class="left">
      <h1>What We've Built. What You Can Trust</h1>
      <p>
        Take a look at the work that defines us. Every project in our portfolio
        is a result of deep collaboration, problem-solving, and a focus on
        creating value for our clients.
      </p>
    </div>
    <div class="right">
      <button>View All</button>
    </div>
  </div>
  <div class="content">
    <div class="description">
      <img src="../../assets/images/mobile 1.png" alt="" />
      <div class="right">
        <h3>TS Gurukul</h3>
        <p>
          TS Gurukul offers expert-led online classes designed to prepare
          students across Nepal for various Loksewa exams. Our platform provides
          structured and accessible learning experiences for aspirants aiming
          for positions such as NASU, Kharidar, Banking (3rd, 4th & 5th Level),
          and Teacher Service Commission (TSC) exams. .Whether it's academic
          coaching, skill development, or competitive exam preparation, our
          mission is simple: to nurture potential, spark curiosity, and inspire
          excellence.
        </p>
        <div class="btns">
            <button class="google">
               <img src="../../assets/images/Group 671.png" alt="">
                <div class="info">
                    <p>Download on the</p>
                    <h3>Google Store</h3>
                </div>
            </button>
           
            <button class="google">
                <img src="../../assets/images/_Group_.png" alt="">
                 <div class="info">
                     <p>Download on the</p>
                     <h3>Google Store</h3>
                 </div>
             </button>
            
        </div>
      </div>
    </div>
  </div>
</div>
