<app-landing-header></app-landing-header>
<div class="container">
  <!-- hero section -->
  <div class="hero">
    <div class="left-hero">
      <h1>
        Innovative <span>Mobile App</span> Solutions for Modern Businesses
      </h1>
      <p>
        We help businesses bring their ideas to life through custom mobile app
        development. With a focus on performance, user experience, and
        scalability, we deliver solutions that not only look great but also
        function seamlessly across platforms. Whether you're launching a startup
        or enhancing an enterprise system, we're here to build the app that
        moves your business forward. Our team specializes in building robust,
        secure, and scalable mobile apps tailored to meet your unique business
        needs.
      </p>
      <div class="btn">
        <button>Get Started</button>
        <button>Learn More</button>
      </div>
    </div>
    <div class="image-hero">
      <img src="../../assets/images/Union.png" alt="img" />
    </div>
  </div>
  <!-- filler component -->

  <div class="filler">
    <div class="head">
      <h1>What We Bring You</h1>
      <p>
        Unlock the full potential of your business with our expertly crafted
        mobile applications. At <span>SaralApp</span> , we specialize in
        building high-performing, user-centric mobile apps that deliver real
        results.
      </p>
      <button>See More</button>
    </div>
    <div class="right">
      <div class="image1">
        <div class="detail">
          <img src="../../assets/images/1.png" alt="img" />
          <h2>Customized Mobile Solutions</h2>
          <p>
            Whether you need a sleek iOS app, a powerful Android solution, or a
            cross-platform experience,
          </p>
        </div>
        <img src="../../assets/images/2.png" alt="" />
        <img src="../../assets/images/3.png" alt="" />
      </div>
      <div class="angle">
        <button class="btnl">
          <i class="fa-solid fa-arrow-left"></i>
        </button>
        <button class="btnr">
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>
    </div>
    <!-- for mobile -->
    <div class="mobile">
      <div class="detail">
        <img src="../../assets/images/1.png" alt="" />
        <div class="info-filler">
          <h2>Customized Mobile Solutions</h2>
          <p>
            Whether you need a sleek iOS app, a powerful Android solution, or a
            cross-platform experience,
          </p>
        </div>
      </div>
      <div class="detail">
        <img src="../../assets/images/2.png" alt="" />
        <div class="info-filler">
          <h2>Customized Mobile Solutions</h2>
          <p>
            Whether you need a sleek iOS app, a powerful Android solution, or a
            cross-platform experience,
          </p>
        </div>
      </div>
      <div class="detail">
        <img src="../../assets/images/1.png" alt="" />
        <div class="info-filler">
          <h2>Customized Mobile Solutions</h2>
          <p>
            Whether you need a sleek iOS app, a powerful Android solution, or a
            cross-platform experience,
          </p>
        </div>
      </div>
      <div class="detail">
        <img src="../../assets/images/2.png" alt="" />
        <div class="info-filler">
          <h2>Customized Mobile Solutions</h2>
          <p>
            Whether you need a sleek iOS app, a powerful Android solution, or a
            cross-platform experience,
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- manifesto -->
  <div class="manifesto">
    <div class="left-mani">
      <h1>Saral Apps Manifesto</h1>
      <p>
        At SaralApps, simplicity drives everything we do. We believe that
        powerful technology doesn't have to be complex and that the best digital
        experiences are built with clarity, purpose, and people in mind.
      </p>
      <button>See All Services</button>
    </div>
    <div class="content">
      <div class="mani-card">
        <i class="fa-solid fa-shield"></i>
        <div class="mani-detail">
          <h1>Trust & Transparency</h1>
          <p>
            At SaralApps, trust isn’t just earned it’s built into everything we
            do. We believe in open communication, honest feedback, and complete.
          </p>
          <button>Read More</button>
        </div>
      </div>
      <div class="mani-card">
        <i class="fa-solid fa-users"></i>
        <div class="mani-detail">
          <h1>Virtuous Partnership</h1>
          <p>
            At SaralApps, we believe great results come from great
            relationships. A virtuous partnership means working with honesty,
            respect
          </p>
          <button>Read More</button>
        </div>
      </div>
      <div class="mani-card">
        <i class="fa-solid fa-file-lines"></i>
        <div class="mani-detail">
          <h1>Simple,Smart,Scalable</h1>
          <p>
            At SaralApps, we believe in making technology simple not simplistic.
            We're on a mission to break down digital complexity
          </p>
          <button>Read More</button>
        </div>
      </div>
      <div class="mani-card">
        <i class="fa-solid fa-users"></i>
        <div class="mani-detail">
          <h1>Assured Quality</h1>
          <p>
            At SaralApps, we believe great results come from great
            relationships. A virtuous partnership means working with honesty,
            respect
          </p>
          <button>Read More</button>
        </div>
      </div>
    </div>
  </div>

  <!-- our team -->
  <div class="team">
    <div class="head1">
      <div class="title">
        <h1>Our Team</h1>
        <p>
          Behind every successful app is a team of passionate thinkers,
          creators, and problem-solvers. At SaralApps, our team brings together
          skilled developers, designers, strategists, and project managers, each
          driven by a shared commitment to innovation, collaboration, and
          excellence.
        </p>
        <button>View All Team</button>
      </div>
      <!-- CEO -->
      <div class="image-wrapper">
        <img src="../../assets/images/profile.webp" alt="Team Member" />
        <div class="overlay">
          <h3>CEO</h3>
          <h1>Mukul Bhatta</h1>
          <p>
            Mukul Bhatt is the CEO of Saral Apps, an app development company
            based in Nepal.
          </p>
          <div class="social-icons">
            <a href=""><i class="fab fa-facebook"></i></a>
            <a href="https://www.linkedin.com/in/mukulbhatt/"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-github"></i></a>
          </div>
        </div>
      </div>
      <!-- Director -->
      <div class="image-wrapper">
        <img src="../../assets/images/profile1.webp" alt="Team Member" />
        <div class="overlay">
          <h3>Directory</h3>
          <h1>Anupama Sangraula</h1>
          <p>
            Anupama Sangraula is the Director of Saral Apps, an app development
            company in Nepal.
          </p>
          <div class="social-icons">
            <a href=""><i class="fab fa-facebook"></i></a>
            <a href="https://www.linkedin.com/in/anupama-sangraula-257481185/"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-github"></i></a>
          </div>
        </div>
      </div>
    </div>
    <!-- lead computer engineer -->
    <div class="head2">
      <div class="image-wrapper">
        <img src="../../assets/images/profile2.webp" alt="Team Member" />
        <div class="overlay">
          <h3>Lead Computer Engineer</h3>
          <h1>Rohan Paudel</h1>
          <p>
            Rohan Paudel is the Tech engineer of Saral Apps, an app development
            company in Nepal.
          </p>
          <div class="social-icons">
            <a href=""><i class="fab fa-facebook"></i></a>
            <a href=""><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-github"></i></a>
          </div>
        </div>
      </div>
      <!-- Lead Tech -->
      <div class="image-wrapper">
        <img src="../../assets/images/profile 3.webp" alt="Team Member" />
        <div class="overlay">
          <h3>Lead tech</h3>
          <h1>Yograj Aryal</h1>
          <p>
            Yograj Aryal is the of Lead Tech of Saral Apps, an app development
            company in Nepal.
          </p>
          <div class="social-icons">
            <a href=""><i class="fab fa-facebook"></i></a>
            <a href="https://www.linkedin.com/in/yograj-aryal-ba174a219/"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-github"></i></a>
          </div>
        </div>
      </div>
      <!-- Project Manager -->
      <div class="image-wrapper">
        <img src="../../assets/images/profile 5.webp" alt="Team Member" />
        <div class="overlay">
          <h3>Marketing</h3>
          <h1>Bikash Khadka</h1>
          <p>
            Bikash Khadka is the Marketing head of Saral Apps, an app
            developmentcompany in Nepal.
          </p>
          <div class="social-icons">
            <a href=""><i class="fab fa-facebook"></i></a>
            <a href="https://www.linkedin.com/in/bikash-khadka-a82ba6334/"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-github"></i></a>
          </div>
        </div>
      </div>
      <!-- UI/UX designer -->
      <div class="image-wrapper">
        <img src="../../assets/images/profile4.webp" alt="Team Member" />
        <div class="overlay">
          <h3>UI/UX Designer</h3>
          <h1>Suman Maharjan</h1>
          <p>
            Suman Maharjan is the UI/UX Designer of Saral Apps, an app
            development company.
          </p>
          <div class="social-icons">
            <a href=""><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-github"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- contact -->
 <div class="contactform">
    <div class="formheader">
      <h1>Connect With Our Team</h1>
      <p>
        Our experienced team is ready to support you at every step. Connect now
        and let's create something great.
      </p>
    </div>
    <div class="connect">
      <form action="">
        <h1>Get In Touch</h1>
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" name="" id="" placeholder="Saral apps" />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" name="" id="" placeholder="Email" />
        </div>
        <div class="form-group">
          <label for="number">Number</label>
          <input type="text" name="" id="" placeholder="+977 9861344956" />
        </div>
        <div class="form-group">
          <label for="reference">Reference:</label>
          <input type="text" name="" id="" placeholder="Social Media" />
        </div>
        <div class="form-group">
          <label for="Subject">Subject</label>
          <input type="text" name="" id="" placeholder="Internship" />
        </div>
        <div class="form-group">
          <label for="type">Type:</label>
          <select id="type" name="type" required>
            <option value="">-- Select Type --</option>
            <option value="individual">Individual</option>
            <option value="company">Company</option>
            <option value="agency">Agency</option>
          </select>
        </div>
        <div class="message">
          <label for="message">Message</label>
          <textarea name="message" id="msg" placeholder="Message Here">Message</textarea
          >
        </div>
        <div class="checkbox">
          <input type="checkbox" id="agree" name="agree" />
          <label for="agree"
            >By Submitting this form I agree the Privacy Policy and Terms and
            Conditions</label
          >
        </div>
        <button class="contact">Send Messages</button>
      </form>
      <div class="contact_detail">
        <h1>Contact Detail</h1>
        <p>
          Get in touch with us through phone, email, or our contact form. We're
          here to help!
        </p>
        <div class="icon">
        <div class="address">
          <div class="icon-circle">
            <i class="fa-solid fa-location-dot"></i>
          </div>
          <div class="address-text">
            <h2>Address</h2>
            <p>
              <a href="https://maps.app.goo.gl/PF8HknWCpR5s6LoK9">New Baneshwor, Kathmandu</a>

            </p>
          </div>
        </div>
        <div class="Phone">
          <div class="icon-circle">
            <i class="fa-solid fa-phone"></i>
          </div>
          <div class="phone-text">
            <h2>Number</h2>
            <p>
              <a href="tel:9851275536">+977 9851275536</a>
              </p>
          </div>
        </div>
        <div class="email">
          <div class="icon-circle">
            <i class="fa-solid fa-envelope"></i>
          </div>
          <div class="phone-text">
            <h2>Email</h2>
            <p>
              <a href="mailto:info@saralapps.com">info@saralapps.com</a>
              </p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  <!-- life at Saral Apps -->
   <div class="life">
    <div class="life-head">
        <div class="info">
            <h1>Life at SaralApps</h1>
            <p>At SaralApps, we believe great work happens when people feel inspired, supported, and empowered. Our culture is built on creativity, collaboration, and continuous learning. Whether we're building breakthrough apps or celebrating small wins, we do it together, with purpose and passion.</p>
        </div>
        <div class="btn">
            <button>See More</button>
        </div>
    </div>
    <div class="images">
        <img src="../../assets/images/life1.webp" alt="">
        <img src="../../assets/images/life2.webp" class="active" alt="">
        <img src="../../assets/images/life3.webp" alt="">
    </div>
</div>
</div>
<app-landing-footer></app-landing-footer>
