<div class="footer">
  <div class="left">
    <img src="../../assets/images/Logo_3.webp" alt="logo" />
    <div class="fill">
      <input type="text" name="" id="text" placeholder="Enter your email" />
      <button class="btn">Submit</button>
    </div>
  </div>
  <div class="right">
    <!-- company -->
    <div class="company">
      <h2>Company</h2>
      <nav>About</nav>
      <nav>Service</nav>
      <nav>FAQs</nav>
      <nav>Contact</nav>
    </div>
    <!-- Service -->
    <div class="service">
      <h2>RoadMap</h2>
      <nav>Team</nav>
      <nav>Saral Discount</nav>
      <nav>Pricing Plan</nav>
      <nav>Contact</nav>
    </div>
    <!-- contact -->
    <div class="Contact">
      <h2>Contact</h2>
      <div class="location">
        <i class="fa-solid fa-location-dot"></i>
        <p>
          <a href="https://maps.app.goo.gl/PF8HknWCpR5s6LoK9">New Baneshwor, Kathmandu</a>

        </p>
      </div>
      <div class="number">
        <i class="fa-solid fa-phone"></i>
        <p>
          <a href="tel:9851275536">+977 9851275536</a>
        </p>
      </div>
      <div class="email">
        <i class="fa-solid fa-envelope"></i>
        <p>
          <a href="mailto:info@saralapps.com">info@saralapps.com</a>
        </p>
      </div>
      <div class="social">
        <a target="_blank" href="https://facebook.com/saralapps"><i class="fa-brands fa-facebook"></i></a>
       <a target="_blank" href="Instagram.com"><i class="fa-brands fa-instagram"></i></a>
      <a target="_blank" href="Twitter.com"><i class="fa-brands fa-twitter"></i></a> 
        <a target="_blank" href="LinkedIn.com"><i class="fa-brands fa-linkedin"></i></a>
      </div>
    </div>
  </div>
</div>
<p class="copywrite">© 2025&nbsp; <a href="https://saralapps.com">Saral Apps Pvt Ltd </a>&nbsp;All rights reserved.</p>

