// :root {
//   //--primary-color: #007BFF;
//   //--secondary-color: #000000;
//   //--background-header-color: rgba(90, 90, 90, 0.1);
//   //--how-it-works-background-color: #D9EBFF;
//   //--color-white: #fff;
//   //--color-black: #000000;
//   //--card-background-color: #B0D6FF;
//   //--font-family: Satoshi'sans-serif';
//   --White-color:#ffffff;
//   --nav-text-color:#000000;
//   --Heading-color:#020E1A;
//   --SubHeading-color: #5c5c5c;
//   --Secondary-color:#99ccff;
//   --Primary-color: #007bff;
//   --Card-active:#f6f6f6;
//   --Card-hover:#E6f0ff;
//   --Large-size:60px;
//   --Heading-size:32px;
//   --Subheading-size: 20px;
//   --body-size:16px;
//   --Mobile-heading:20px;
//   --Mobile-body:14px;
//   --Mobile-small:12px;
//   --Font-family:'Satoshi', sans-serif;
//   --Mobile-subheading:14px;
//   --Icon-size:40px;

// }
// *{
//   margin: 0;
//   padding:0;
//   font-family: var(--Font-family);
// }


/* You can add global styles to this file, and also import other style files */
:root {
  --White-color: #ffffff;
  --nav-text-color: #000000;
  --Heading-color: #020E1A;
  --SubHeading-color: #5c5c5c;
  --Secondary-color: #99ccff;
  --Primary-color: #007bff;
  --Card-active: #f6f6f6;
  --Card-hover: #E6f0ff;
  --Font-family: "Sen-Serif";
  --Large-size: 60px;
  --Heading-size: 32px;
  --Subheading-size: 20px;
  --body-size: 16px;
  --Mobile-heading: 20px;
  --Mobile-body: 14px;
  --Mobile-small: 12px;
  --Font-family: 'Satoshi', sans-serif;
  --Mobile-subheading: 14px;
  --Icon-size: 40px;
  --Card-backgroud: #F3F3F3;
  --Card-background2: #D9EBFF;
}

* {
  font-family: var(--Font-family);
  margin:0;
  padding:0
}

button.comp-btn{
  padding: 10px 12px;
  width: 100px;
  height: 40px;
  color: #fff;
  background-color: var(--Primary-color);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: .2s ease-in-out;
}

button.comp-btn:hover{
  background-color: var(--Secondary-color);
  //text-decoration: underline;

}


