/* You can add global styles to this file, and also import other style files */
:root{
    --White-color:#ffffff;
    --nav-text-color:#000000;
    --Heading-color:#020E1A;
    --SubHeading-color: #5c5c5c;
    --Secondary-color:#99ccff;
    --Primary-color: #007bff;
    --Card-active:#f6f6f6;
    --Card-hover:#E6f0ff;
    --Font-family: "Sen-Serif";
    --Large-size:60px; 
    --Heading-size:32px;
    --Subheading-size: 20px;
    --body-size:16px;
    --Mobile-heading:20px;
    --Mobile-body:14px;
    --Mobile-small:12px;
    --Font-family:'Satoshi', sans-serif;
    --Mobile-subheading:14px;
}
*{
    font-family: var(--Font-family);
}