<div class="services">
  <div class="head">
    <div class="left">
      <h3>Our Services</h3>
      <h1>Custom Mobile App Development</h1>
      <p>Transform your ideas into powerful, user-friendly mobile applications with our end-to-end app development services.</p>
    </div>
    <div class="right">
      <button class="comp-btn">View More</button>
    </div>
  </div>
  <div class="content">
    <div class="app-card">
      <img src="../../assets/images/app-02.webp" alt="app">
      <div class="detail">
        <h3>App Development</h3>
        <p>We specialize in crafting high-quality mobile applications that blend seamless functionality with intuitive design....</p>
      </div>
    </div>
    <div class="app-card">
      <img src="../../assets/images/app-01.webp" alt="app">
      <div class="detail">
        <h3>Website Design</h3>
        <p>Our website design services focus on creating visually stunning, responsive, and user-friendly websites....</p>
      </div>
    </div>
    <div class="app-card">
      <img src="../../assets/images/app-03.webp" alt="app">
      <div class="detail">
        <h3>Software Development</h3>
        <p>From discovery and architecture to development, testing, and deployment, we ensure every solution is secure, efficient....</p>
      </div>
    </div>
    <div class="app-card">
      <img src="../../assets/images/app-04.webp" alt="app">
      <div class="detail">
        <h3>Website Hosting</h3>
        <p>We offer scalable hosting solutions tailored to your needs, whether you're launching a small business site...</p>
      </div>
    </div>



  </div>

</div>
